@import "../../../global/css/variables";
@import "../components/user-modal";


.signin_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $vh-100-exclude-header;
  background-color: #000000a1;
}