.knowledge_header__category{
    background-color: #faa56f;
}

#related_diagnoses{
    position: relative;
}

#related-diagnoses-flag{
    position: relative;
    bottom: 200px;
}

.knowledge_info__related_diagnoses{
    margin: 1rem 0;
}

.related_diagnosis__summary__title{
    width: 9rem;
    padding: 0.5rem;
    border: none;
    border: solid 1px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.related_diagnosis__summary__title::placeholder{
    color: #d6d6d6;
}

.related_diagnosis__summary__title:focus{
    outline: none;
}

.related_diagnosis__summary__delete_btn{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
