.knowledge_header__category{
    background-color: #faa56f;
}

.interventions{
    padding-left: 1.5rem;
}

.interventions > li{
    line-height: 1.6rem;
    list-style-type: decimal;
}

.related_diagnosis{
    border: solid 1px;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.related_diagnosis__summary{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 1rem;
}

.related_diagnosis__summary::-webkit-details-marker{
    display: none;
}

.related_diagnosis__summary > *{
    margin-right: 0.3rem;
}

.button_style{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    padding: 2px 8px;
    border-radius: 10px;
    font-weight: 500;
}

.intervention_like_button{
    color: #FFC107;
    background-color: #F6F6F6;
}

.intervention_like_button > i{
    font-size: 0.7rem;
    margin-right: 3px;
}

.intervention_like_button:hover{
    background-color: #FFF0BA;
}

.intervention_like_count, .intervention_edit_button{
    font-size: 0.8rem;
}

.intervention_edit_button{
    color: white;
    background-color: #FF8080;
}

.intervention_edit_button:hover{
    background-color: #ff3e3e;
}

.related_diagnosis_arrow_wrapper{
    position: absolute;
    right: 1rem;
}

.related_interventions{
    line-height: 1.6rem;
    list-style-type: decimal;
    padding-left: 3rem;
    padding-bottom: 1rem;
}

.related_interventions_textarea{
    display: block;
    width: 95%;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: solid 1px #FF8080;
    line-height: 1.6rem;
    list-style-type: decimal;
    border-radius: 5px;
    resize: none;
}

.related_interventions_textarea:focus{
    outline: none;
}

.related_interventions_textarea::placeholder{
    color: #d6d6d6;
}

/* JS */
.border_gray{
    border-color: #A9A9A9;
}

.border_pink{
    border-color: #FF8080;
}

.color_pink{
    color: #FF8080;
    font-weight: bold;
}

.display_none{
    display: none;
}

.already_like{
    background-color: #FFF0BA;
}