.firstpage{
    width: 100%;
    min-height: 360px; height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.firstpage_main_text{
    margin-bottom: 12rem;
    margin-left: 1rem;

    font-family: 'Do Hyeon', sans-serif;
    font-size: 4rem;
    text-align: center;

    white-space: nowrap;
}
.firstpage_search_wrapper{
    position:absolute;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 2rem; */
    border-radius: 0.5rem;
    background-color: rgba(201, 201, 201, 0.5);
}
.firstpage_search_form{
    position: relative;
    width: 30rem;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
}

.firstpage_search_icon{
    margin-right: 0.7rem;
    cursor: pointer;
}

.firstpage_search_text{
    width: calc(100% - 1.7rem);
    border: none;
    background: none;
}

.firstpage_search_text:focus{
    outline: none;
}

.firstpage_search_submit{
    position: fixed;
    left: -9999px;
}

.firstpage_search_result_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.firstpage_search_result{
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-left: 1.3rem;
    cursor: pointer;
}

.firstpage_search_result > i{
    color: var(--pink);
    margin-right: 0.5rem;
}

.firstpage_search_result > .name{
    font-weight: bold;
}

.js-result_selected{
    background-color: rgb(196, 196, 196) !important;
}

.js-display_none{
    display: none !important;
}