@import url('/static/global/css/color.css');

.wrappage{
    position: relative;

    transition: transform 0.5s ease-in-out;
}
.page{
    position: relative;
    width: 100vw;
    height: 100vh;

    border:1px solid red;
    box-sizing: border-box;
}
.is{
    font-size: 100px;
}