@import url('/static/global/css/color.css');
html,body{
    overflow: hidden;
}
.wrappage{
    position: relative;
    top:0;
    transition: top 0.5s ease-in-out;
}
.page{
    position: relative;
    width: 100vw; min-width: 720px;
    height: 100vh; min-height: 360px;

    box-sizing: border-box;
}
.is{
    font-size: 100px;
}