textarea{
    width: 100%;
    margin-top: 1rem;
    padding: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    resize: none;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

textarea:focus{
    outline: none;
}

.submit_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.submit_btn{
    border: none;
    border-radius: 5px;

    padding: 0.7rem 2rem;

    background-color: var(--pink);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

.add_diagnosis_btn{
    border: none;
    border-radius: 5px;

    padding: 0.7rem 0.5rem;
    margin-left: 0.5rem;
    background-color: #ffa150;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}