{% extends 'base.html' %}
{% load static %}

{% block title %} {{diagnosis.name}} {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'nursing_knowledges/css/diagnosis_detail.css' %}">
<link rel="stylesheet" href="{% static 'nursing_knowledges/css/diagnosis_detail_edit.css' %}">
{% endblock css %}

{% block link %}
{% endblock link %}

{% block head_script %}
{% endblock head_script %}

{% block content %}
<style>
    .header{
        border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    }
    .cy_wrap{
        margin: 0 auto;
    }
</style>
<form id="edit_form"class="diagnosis_detail_wrap" method="post">
    {% csrf_token %}
    <div class="define">
        <div class="define_header">
            <div class="sorting_btn">진단</div>
            <h1 class="title_word">{{diagnosis.name}}</h1>
        </div>

        <div class="edit_textarea_wrapper">
            {{form.definition}}
            {{form.definition.errors}}
        </div>
    </div>

    
    <div class="content">
        <div class="content_header">
            <h1 class="title_word">관련 대표 중재</h1>
        </div>
        <div class="edit_textarea_wrapper">
            {{form.intervention_content}}
            {{form.intervention_content.errors}}
        </div>
    </div>

    <div class="relative_diagnosis content">
        <div class="content_header ">
            <h2 class="title_word">관련 간호진단</h2>
        </div>
        <div class="relative_diagnosis_content content_article diagnoses_list js-diagnoses_list">
            {% for item in related_diagnoses%}
                <div class="diagnosis_set">
                    <input type="checkbox" id="{{item.to_diagnosis.name}}" name="added_{{item.to_diagnosis.name}}" checked>
                    <label for="{{item.to_diagnosis.name}}">{{item.to_diagnosis.name}}</label>
                </div>
            {% endfor%}
        </div>
        <div class="add_diagnosis_wrapper">
            <input list="all_diagnosis" id="selected_diagnosis" name="selected_diagnosis" />
            <datalist id="all_diagnosis">
                {% for d in all_diagnosis %}
                    <option value="{{d}}">
                {% endfor %}
            </datalist>
            <button class="add_diagnosis_btn js-add_diagnosis_btn">진단 추가</button>
        </div>
    </div>


    <div class="submit_wrapper">
        <button class="submit_btn" type="submit" form="edit_form">수정하기</button>
    </div>

</div>
{% endblock content %}



{% block script %}
<script src="{% static 'assets/js/diagnosisDetailEdit.js' %}"></script>
{% endblock script %}
