{% extends 'base.html' %}
{% load static %}


{% block title %} {{diagnosis.name}} {% endblock title %}


{% block css %}
        <link rel="stylesheet" href="{% static 'nursing_knowledges/css/knowledge_detail.css' %}">
        <link rel="stylesheet" href="{% static 'nursing_knowledges/css/diagnosis_detail.css' %}">
{% endblock css %}



{% block link %}
{% endblock link %}



{% block head_script %}
{% endblock head_script %}


{% block content %}
    <div class="root">
        <div class="knowledge_header">
            <div class="knowledge_header__category">진단</div>
            <h1 class="knowledge_header__name js-knowledge_name">{{diagnosis.name}}</h1>
            <a href="{% url 'nursing_knowledges:diagnosis_detail_edit' diagnosis.pk %}"
               class="edit_btn_style knowledge_header__edit_btn{% if user.is_anonymous %} js-block_to_edit{% endif %}"
            >편집</a>
        </div>

        <div class="knowledge_info">
            {% if diagnosis.definition %}
                <div class="knowledge_info__content">
                    {{diagnosis.definition|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">정의</div>
            {% endif %}
        </div>

            <div class="knowledge_info">
                <div class="knowledge_info__title">관련 대표 중재</div>
                {% if diagnosis.get_intervention_list.0 %}
                    <ol class="knowledge_info__content interventions">
                        <!-- 진단의 중재 내용 -->
                        {% for intervention in diagnosis.get_intervention_list %}
                            <li>{{ intervention }}</li>
                        {% endfor %}

                        <!-- 추가 중재 내용 -->
                        {% for alpha in alphas %}
                            <li>
                                {% if alpha.disease_small_category %}
                                    <span>{{alpha.disease_small_category}}</span>
                                {% endif %}
                                {% if alpha.disease_medium_category %}
                                    <span>{{alpha.disease_medium_category}}</span>
                                {% endif %}
                                <span>- {{alpha.content}}</span>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <div class="knowledge_info__content knowledge_info__no_content block_dragging">중재</div>
                {% endif %}
            </div>


            <div class="knowledge_info">
                <div class="knowledge_info__title related_diagnosis_wrapper">
                    <span>관련 간호진단</span>
                    <a href="{% url 'nursing_knowledges:diagnosis_detail_edit' diagnosis.pk %}#related-diagnoses-flag"
                       class="edit_btn_style related_diagnosis_wrapper__edit_btn{% if user.is_anonymous %} js-block_to_edit{% endif %}"
                    >추가/제거</a>
                </div>
                    {% if diagnosis_related_diagnoses %}
                        <div class="knowledge_info__content">
                            {% for related_diagnosis in diagnosis_related_diagnoses %}
                                <details
                                    class="related_diagnosis js-related_diagnosis border_gray"
                                    data-related_diagnosis_id="{{related_diagnosis.pk}}"
                                    >
                                    <summary class="related_diagnosis__summary">
                                        <span class="related_diagnosis__summary__title js-related_diagnosis__summary__title">{{related_diagnosis.related_diagnosis_name}}</span>
                                        {% if user in related_diagnosis.like_users.all %}
                                            <button class="button_style block_dragging intervention_like_button already_like js-intervention_like_button">
                                                <i class="fas fa-star"></i>
                                                <span class="intervention_like_count js-intervention_like_count">{{related_diagnosis.like_users.count}}</span>
                                            </button>
                                        {% else %}
                                            <button class="button_style block_dragging intervention_like_button js-intervention_like_button">
                                                <i class="fas fa-star"></i>
                                                <span class="intervention_like_count js-intervention_like_count">{{related_diagnosis.like_users.count}}</span>
                                        </button>
                                        {% endif %}
                                        {% if user.is_authenticated %}
                                            <button class="button_style block_dragging intervention_edit_button js-intervention_edit_button display_none">수정</button>
                                            <button class="button_style block_dragging intervention_edit_button js-intervention_edit_submit_button display_none">적용</button>
                                        {% endif %}
                                        <div class="related_diagnosis_arrow_wrapper js-related_diagnosis_arrow_wrapper">
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                    </summary>
                                    <ol class="related_interventions js-related_interventions">
                                        {% if related_diagnosis.intervention_content %}
                                            {% for intervention in related_diagnosis.get_intervention_list  %}
                                                {% if intervention|length > 0 %}
                                                    <li>{{intervention}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="knowledge_info__content knowledge_info__no_content js-knowledge_content_empty block_dragging">중재</div>
                                        {% endif %}
                                    </ol>
                                </details>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="knowledge_info__content knowledge_info__no_content after_content_none block_dragging">
                            아직 관련 진단이 없습니다. 관련 진단을 추가해 주세요!
                        </div>
                    {% endif %}
            </div>

        {% include 'nursing_knowledges/mindmap.html' %}
    </div>
{% endblock content %}



{% block script %}
    <script>
        {% if user.is_authenticated %}
            const userIsAuthenticated = true;
        {% else %}
            const userIsAuthenticated = false;
        {% endif %}
    </script>
    <script src="{% static 'assets/js/diagnosisdetail.js' %}"></script>
    <script src="{% static 'assets/js/diagnosisdetail__relatedDiagnosisEvent.js' %}"></script>
{% endblock script %}
