{% extends 'base.html' %}
{% load static %}

{% block title %} {{disease.name}} {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'nursing_knowledges/css/knowledge_detail.css' %}">
    <link rel="stylesheet" href="{% static 'nursing_knowledges/css/disease_detail.css' %}">
{% endblock css %}

{% block link %}
{% endblock link %}

{% block head_script %}
{% endblock head_script %}

{% block content %}
    <div class="root">
        <div class="knowledge_header">
            <div class="knowledge_header__category">질병</div>
            <h1 class="knowledge_header__name js-knowledge_name">{{disease.name}}</h1>
            <a href="{% url 'nursing_knowledges:disease_detail_edit' disease.pk %}"
               class="edit_btn_style knowledge_header__edit_btn{% if user.is_anonymous %} js-block_to_edit{% endif %}"
            >편집</a>
        </div>

        <div class="knowledge_info">
            {% if disease.definition %}
                <div class="knowledge_info__content">
                    {{disease.definition|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">정의</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">원인</div>
            {% if disease.cause %}
                <div class="knowledge_info__content">
                    {{disease.cause|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">원인</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">증상</div>
            {% if disease.symptom %}
                <div class="knowledge_info__content">
                    {{disease.symptom|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">증상</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">진단/검사</div>
            {% if disease.diagnosis_and_checkup %}
                <div class="knowledge_info__content">
                    {{disease.diagnosis_and_checkup|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">진단/검사</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">치료</div>
            {% if disease.treatment %}
                <div class="knowledge_info__content">
                    {{disease.treatment|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">치료</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">간호</div>
            {% if disease.nursing %}
                <div class="knowledge_info__content">
                    {{disease.nursing|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">간호</div>
            {% endif %}
        </div>


            <div class="knowledge_info">
                <div class="knowledge_info__title">관련 진단</div>
                {% if diagnoses %}
                    <div class="knowledge_info__content relative_diagnoses">
                        {% for diagnosis in diagnoses%}
                            <a class="relative_diagnoses__item js-relative_diagnosis_item"
                               href="{% url 'nursing_knowledges:diagnosis_detail' diagnosis.pk %}">
                                {{diagnosis.name}}
                            </a>
                        {% endfor%}
                    </div>
                {% else %}
                    <div class="knowledge_info__content knowledge_info__no_content after_content_none block_dragging">
                        아직 관련 진단이 없습니다. 관련 진단을 추가해 주세요!
                    </div>
                {% endif %}
            </div>

        {% include 'nursing_knowledges/mindmap.html' %}
    </div>
{% endblock content %}



{% block script %}
<script src="{% static 'assets/js/diseasedetail.js' %}"></script>
{% endblock script %}
