{% extends 'base.html' %}
{% load static %}

{% block title %} {{disease.name}} {% endblock title %}

{% block css %}
{% endblock css %}

{% block link %}
{% endblock link %}

{% block head_script %}
{% endblock head_script %}

{% block content %}
<style>
    .header{
        border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    }
    .page{
        overflow: auto;
    }
</style>
<div class="disease_detail_wrap">
    <div class="define">
        <div class="define_header">
            <div class="sorting_btn">☆질병</div>
            <h1 class="title_word">{{disease.name}}</h1>
            <div class="editbtn">편집</div>
        </div>

        <div class="define_content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vel nobis architecto repudiandae beatae voluptatibus modi magnam animi illo, cumque eius voluptas repellat exercitationem, nam a deserunt quae sapiente eaque!
            temp
            {{disease.content}}
        </div>
    </div>

    <div class="content">
        <div class="content_title">
            <h2>원인</h2>
        </div>
        <div class="content_article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium vel nobis architecto repudiandae beatae voluptatibus modi magnam animi illo, cumque eius voluptas repellat exercitationem, nam a deserunt quae sapiente eaque!
        </div>
    </div>

    <div class="content">
        <div class="content_title">
            <h2>치료</h2>
        </div>
        <div class="content_article">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem saepe iusto explicabo quos, eius quia aperiam dignissimos modi obcaecati autem quam quo ducimus vel. Tempora delectus incidunt ipsa porro vitae!
        </div>
    </div>

    <div class="relative_diagnosis">
        <div class="relative_diagnosis_header">
            <h2 class="relative_diagnosis_title_word">관련 진단</h2>
        </div>
        <div class="relative_diagnosis_content">
            {% for item in diagnoses%}
                <a href="{% url 'nursing_knowledges:diagnosis_detail' item.pk %}">
                    <div class="diagnosis_btn">{{item.name}}</div>
                </a>
            {% endfor%}
        </div>
    </div>

    <div class="mindmap">

    </div>
</div>

    <!-- <ul>
        <li>{{disease.name}}</li>
        <li>{{disease.content}}</li>
    </ul>
    <h1>관련 진단</h1>

    <ul>
        {% for diagnosis in diagnoses %}
            <a href="{% url 'nursing_knowledges:diagnosis_detail' diagnosis.pk %}">{{diagnosis.name}}</li>
        {% endfor %}
    </ul> -->
        
{% endblock content %}



{% block script %}
<script src="{% static 'assets/js/diseasedetail.js' %}"></script>
{% endblock script %}
