{% extends 'base.html' %}
{% load static %}


{% block title %} 편집 히스토리 {% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'nursing_knowledges/css/history.css' %}">
{% endblock css %}



{% block link %}
{% endblock link %}



{% block head_script %}
{% endblock head_script %}



{% block content %}

<div class="history_wrapper js-history_wrapper">
    <h1 class="history__title">
        {% if knowledge_name %}{{ knowledge_name }} {% endif %}
        편집 히스토리
    </h1>

    <ul class="history__list">
        {% for history in page_obj %}
            <li class="history__list__item">
                <span class="date">{{history.created_at|date:'Y-m-d H:i:s'}}</span>
                <span>-</span>
                <a class="version_info" href="#">[보기]</a>
                <a class="version_info" href="#">[되돌리기]</a>
                <span>{{ history.version }}번째 수정본</span>
                {% if history.changed_word_count > 0 %}
                    <span class="change_word_count set_color_green">+{{history.changed_word_count}}</span>
                {% elif history.changed_word_count < 0 %}
                    <span class="change_word_count set_color_red">{{history.changed_word_count}}</span>
                {% else %}
                    <span class="change_word_count">{{history.changed_word_count}}</span>
                {% endif %}
                <span>-</span>
                {% if is_total_history_page %}
                    <a href="{{history.get_knowledge.get_absolute_url}}" class="knowledge_name">{{history.get_knowledge.name}}</a>
                    <span>-</span>
                {% endif %}
                <span class="editor">{{history.editor}}</span>
                <a class="report_user" href="#">[신고하기]</a>
            </li>
        {% endfor %}
    </ul>

    <div class="history__page_btn_wrapper">
        
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">이전</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">다음</a>
        {% endif %}
    </div>
</div>
    
{% endblock content %}



{% block script %}
    <script src="{% static 'assets/js/history.js' %}"></script>
{% endblock script %}
