{% extends 'base.html' %}
{% load static %}


{% block title %} HOME {% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'nursing_knowledges/css/home.css' %}">

{% endblock css %}



{% block link %}
{% endblock link %}



{% block head_script %}
{% endblock head_script %}



{% block content %}
    <div class="wrappage">
        {% include 'nursing_knowledges/firstpage.html'%}
        {% include 'nursing_knowledges/secondpage.html' %}
    </div>
{% endblock content %}



{% block script %}
<script src="{% static 'nursing_knowledges/js/home.js' %}"></script>
{% endblock script %}
