{% extends 'base.html' %}
{% load static %}


{% block title %} test {% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'nursing_knowledges/css/home.css' %}">
{% endblock css %}



{% block link %}
{% endblock link %}



{% block head_script %}
{% endblock head_script %}



{% block content %}
<div id="cy" style="width: 100vw; height: 100vh">

</div>
{% endblock content %}



{% block script %}
<script src="{% static 'assets/js/test.js' %}"></script>
{% endblock script %}
