.dia_cat_mainContent{
    position: relative;
}
.titlediv{
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 1rem;
}
.largeitemtitle{
    font-size: 2rem;
    font-weight: 900;
}
.largeitem{
    margin-bottom: 4rem;
}
.subcontent{
    height: fit-content;
    margin: 4rem;
    margin-top: 2rem;
    margin-right: 0;
}
.itembox{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width:fit-content;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;

    background-color: blanchedalmond;

    border-radius: 0.5rem;

    font-weight: normal;
    line-height: 1.2rem;

    cursor: pointer;
}
.item:hover{
    text-decoration: underline ;
    font-weight: 700;
}