:root{
    --pink:#FF8080;
    --main_color:#FF8080;
    --sub_color:#D97096;
    --dark_pink:#D97096;
    --purple:#A6699D;
    --dark_purple:#716393;
    --indigo:#455879;
    --dark_indigo:#2F4858;
}