html,body{
    overflow: hidden;
}
/* --------------PC버전-------------- */
@media (hover: hover) and (pointer: fine){ 
    .header{
        position: fixed;
        top: 0; left: 0; z-index: 9999;

        width: 100%;  min-width: 720px;
        height: 15vh; min-height: 80px;
        padding: 0 3%;

        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /*-----------logo 스타일 적용-----------------*/
    .logo{
        font-size: 150%;
    }
    .logo_achor{
        width: fit-content;
        white-space: nowrap;
    
        display: flex;
        flex-direction: row;
    
        cursor: pointer;
    }
    .logo_img{
        color: var(--pink);
    }
    .logo h1{
        margin-left: 4px;
        font-family: 'Lobster', cursive;
        font-family: 'Signika Negative', sans-serif;
        color: var(--pink);
    }

    /*--------------Header Search bar스타일 적용---------------*/
    .nav_searchbar .firstpage_search_form{
        border:1px solid red;
    }
    /*--------------nav 스타일 적용---------------*/
    .disappear{
        display: none;
    }
    .activenav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .global_nav{
        display:flex;
        flex-direction: row;

        justify-content: baseline;
    }
    .global_nav_item{
        position: relative;
        display:flex;
        align-items: center;
        padding: 1rem;
        
        font-weight: 600;

        cursor: pointer;
    }
    .nav_underline{
        position: absolute;
        bottom: 0; left:-50%;
        transform: translateX(50%);
        height:2px;
        width:0;

        background-color: #FF8080;
    }
    .global_nav_item:hover{
        color:#FF8080;

        transition: color 0.35s ease-in-out;
    }
    .global_nav_item:hover .nav_underline{
        width:100%;

        transition: width 0.35s ease-in-out;
    }
    .subnav{
        width: 100%;

        position: absolute;
        top: 100%; left: 50%;
        transform: translate(-50%, 0);

        white-space: nowrap;
    }
    .subnav div{
        padding: 1rem;
        padding-bottom: 0.3rem;

        font-size: 0.6rem;
        font-weight: 800;
    }
    .subnav div:hover{
        font-size:0.8rem;
        font-weight: 900;
    }
    .sign{
        display: flex;
        flex-direction: row;
    }
    .sign a{
        --height: 2rem;
        --width: calc(var(--height) * 2);
    
        height: var(--height);
        width: var(--width);
    
        border-radius: var(--width);
    
        font-size: 0.8rem;
        font-weight: 900;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
        z-index: 10;  /* cursor: pointer가 안먹혀서 추가 */
    }
    .sign div{
        --height: 2rem;
        --width: calc(var(--height) * 2);
    
        height: var(--height);
        width: var(--width);
    
        border-radius: var(--width);
    
        font-size: 0.8rem;
        font-weight: 900;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
        z-index: 10;  /* cursor: pointer가 안먹혀서 추가 */
    }
    
    .log_out{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: var(--pink);
    
        color: white;
    }
    
    .log_out:hover{
        color: white;
    }
    
    .sign_in{
        background-color: var(--pink);
    
        color: white;
    }
    .sign_up{
        background-color: rgba(201, 201, 201, 0.5);
        margin-left: 6px;
    
        color: rgba(150, 150, 150, 1);
    }
    
}
/* --------mobile버전-------- */
@media (hover: none) and (pointer:coarse){
    .header{
        position: fixed;
        top: 0; left: 0;
        
        width: 100%; height: 6rem; min-height: 100px;
    
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .logo{
        font-size: 2rem;
    }
    .logo_achor{
        width: fit-content;
        white-space: nowrap;
    
        display: flex;
        flex-direction: row;
    
        cursor: pointer;
    }
    .logo_img{
        color: var(--pink);
    }
    .logo h1{
        margin-left: 4px;
        font-family: 'Lobster', cursive;
        font-family: 'Signika Negative', sans-serif;
        color: var(--pink);
    }
    
    .sign{
        display: flex;
        flex-direction: row;
    
        font-size: 18px;
    }
    .sign a{
        --height: 3rem;
        --width: calc(var(--height) * 2);
    
        height: var(--height);
        width: var(--width);
    
        border-radius: var(--width);
    
        font-size: 0.8rem;
        font-weight: 900;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
        z-index: 10;  /* cursor: pointer가 안먹혀서 추가 */
    }
    .sign div{
        --height: 2rem;
        --width: calc(var(--height) * 2);
    
        height: var(--height);
        width: var(--width);
    
        border-radius: var(--width);
    
        font-size: 0.8rem;
        font-weight: 900;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
        z-index: 10;  /* cursor: pointer가 안먹혀서 추가 */
    }
    
    .log_out{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: var(--pink);
    
        color: white;
    }
    
    .log_out:hover{
        color: white;
    }
    
    .sign_in{
        background-color: var(--pink);
    
        color: white;
    }
    .sign_up{
        background-color: rgba(201, 201, 201, 0.5);
        margin-left: 6px;
    
        color: rgba(150, 150, 150, 1);
    }
}