{% extends 'base/base.html' %}
{% load static %}


{% block title %} 마이페이지 {% endblock title %}




{% block css %}
    <link href="{% static 'build/all_css/users/css/pages/mypage.css' %}" rel="stylesheet">
{% endblock css %}




{% block link %}
{% endblock link %}




{% block head_script %}
{% endblock head_script %}




{% block content %}
    <div class="mypage_wrap">
        <div class="mypage_nav">
            <div class="nav_item active">내 정보 수정</div>
            <div class="nav_item">내가 찜한 페이지</div>
            <div class="nav_item">내가 열어본 페이지</div>
            <div class="nav_item">문의하기</div>
        </div>
        <div class="mypage_content">
            <h1>내 정보 수정</h1>
            <div class="update_info">
                <form method="post" class="">
                    {% csrf_token %}
                    {% for field in profile_update_form %}
                        <div class="input_wrapper">
                            <span class="field_label">{{ field.label }}</span>
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="error">{{error}}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="form__submit_btn profile_update_submit_btn">
                        <span>수정하기</span>
                    </button>
                </form>
            </div>
            <div class="star_info "></div>
            <ul class="history_info"></ul>
            <div class="develop_info">
                {% include 'users/components/email.html' %}
            </div>
        </div>
    </div>
{% endblock content %}




{% block script %}
<script src="{% static 'build/js/mypage.js' %}"></script>
{% endblock script %}