{% load static %}

<div class="mobile_side_menu_wrapper js-mobile_side_menu_wrapper">
    <img src="{% static 'global/image/mobile_side_menu/close.png' %}"
         class="fas fa-times close_side_menu_btn js-close_side_menu_btn"
    >
    <div class="category_wrapper">
        <a class="category_item" href="{% url 'nursing_knowledges:disease_category'%}">질병별 분류</a>
        <a class="category_item" href="{% url 'nursing_knowledges:diagnosis_category'%}">진단별 분류</a>
        <a class="category_item" href="{% url 'nursing_knowledges:mindmap'%}">마인드맵</a>
        <a class="category_item" href="{% url 'nursing_knowledges:history'%}">편집 히스토리</a>

    </div>
</div>