<div class="header">
    <div class="logo">
        <a class="logo_achor" href="{%url 'home' %}">
            <i class="fas fa-heartbeat logo_img"></i>
            <h1>Nurse Pedia</h1>
        </a>
    </div>
    
    <div class="sign">
        
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}" class="log_out js-log_out">로그아웃</a>
        {% else %}
        <div class="sign_in js-sign_in">
            <p>로그인</p>
        </div>
        <div class="sign_up js-sign_up">
            <p>회원가입</p>
        </div>
        {% endif %}
        
            
    </div>
</div>