<div class="header">
<!-- ---------logo 부분--------- -->
    <div class="logo">
        <a class="logo_achor" href="{%url 'home' %}">
            <i class="fas fa-heartbeat logo_img"></i>
            <h1>Nurse Pedia</h1>
        </a>
    </div>

<!-- ---------검색창 부분--------- -->
    <div class="nav_searchbar disappear js-nav_searchbar js-search_wrapper">
        <form action="{% url 'nursing_knowledges:search' %}" class="nav_search_form js-search_form">
            <label for="search_submit_btn" class="nav_search_submit_btn">
                <i class="fas fa-search nav_search_icon"></i>
            </label>

            <input type="text" class="nav_search_text js-search_keyword" id="input_text" name="keyword" autocomplete='off' placeholder="간호 지식 검색" onfocus="this.placeholder=''">

            <input type="submit" class="nav_search_submit" id="search_submit_btn">
        </form>
        <div class="nav_search_result_wrapper js-search_result_wrapper"></div>
    </div>

<!-- ----------nav바 부분---------- -->
    <div class="global_nav">
        <div class="global_nav_item" data-id="1" id="sort_nav">
            <div>분류</div>
            <div class="nav_underline"></div>
            <ul class="subnav disappear">
                <div><a href="{% url 'nursing_knowledges:disease_category'%} ">질병별</a></div>
                <div><a href="{% url 'nursing_knowledges:diagnosis_category'%} ">진단별</a></div>
                <div><a href="{% url 'nursing_knowledges:mindmap'%} ">마인드맵</a></div>
            </ul>
        </div>
        <div class="global_nav_item" data-id="2" id="nurpi_nav">
            <div>널피</div>
            <div class="nav_underline"></div>
            <ul class="subnav disappear">
                <!-- templates/nursing_knowledges/disease_category.html로 이동 -->
                <div><a href="{% url 'nursing_knowledges:history'%} ">편집 히스토리</a></div>
            </ul>
        </div>    
        <!----------------- 로그인 ------------------>
        <div class="sign global_nav_item">
            {% if user.is_authenticated %}
                
                <i class="bi bi-person-circle personal_btn"></i>

                <div class="personal_info unactive">
                    <div class="personal_subwindow">
                        <div class="close_btn">X</div>
                    
                        <i class="bi bi-person-circle personal_btn_subwindow"></i>  
                        <div class="subwindow_username">{{ user.username }}</div>
                        <div class="mypage_btn">마이페이지</div>
                        <a href="{% url 'users:logout' %}" class="log_out js-log_out sign_btn">로그아웃</a>
                    </div>
                </div>
            {% else %}
                <div class="sign_in js-sign_in sign_btn">
                    <p>로그인</p>
                </div>
                <div class="sign_up js-sign_up sign_btn">
                    <p>회원가입</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>