{% extends 'base/base.html' %}
{% load static %}


{% block title %} 진단 분류 {% endblock title %}


{% block css %}
    <link rel="stylesheet" href="{% static 'nursing_knowledges/css/pages/diagnosis-category.css' %}">
{% endblock css %}


{% block link %}
{% endblock link %}



{% block head_script %}
{% endblock head_script %}



{% block content %}

<div class="dia_cat_mainContent"></div>

{% endblock content %}



{% block script %}
<script>
    const knowledgeData = {{knowledge_data|safe}};
</script>
<script src="{% static 'assets/js/diagnosiscategory.js' %}"></script>

{% endblock script %}
