{% extends 'base/base.html' %}
{% load static %}

{% block title %} {{diagnosis.name}} {% endblock title %}



{% block link %}
{% endblock link %}



{% block script %}
<script defer src="{% static 'build/js/diagnosisDetailEdit.js' %}"></script>
{% endblock script %}



{% block content %}
<form id="edit_form"
      class="wrapper_base_style knowledge_detail_wrapper"
      method="post"
      action="{% url 'nursing_knowledges:diagnosis_detail_edit' diagnosis.pk %}"
>
    {% csrf_token %}
    <div class="knowledge_header">
        <div class="knowledge_header__category">진단</div>
        <h1 class="knowledge_header__name js-knowledge_name">{{diagnosis.name}}</h1>
    </div>

    <div class="knowledge_info">
        {{form.definition}}
        {{form.definition.errors}}
    </div>

    <div class="knowledge_info">
        <div class="knowledge_info__title">관련 대표 중재</div>
        {{form.intervention_content}}
        {{form.intervention_content.errors}}
    </div>

    <div class="knowledge_info" id="related_diagnoses">
        <div id="related-diagnoses-flag"></div>
        <div class="knowledge_info__title">연관 간호진단</div>
        <div class="knowledge_info__related_diagnoses js-knowledge_info__related_diagnoses">
            {% for related_diagnosis in related_diagnoses %}
                <div class="related_diagnosis js-related_diagnosis border_gray">
                    <div class="related_diagnosis__summary">
                        <input type="text"
                               class="related_diagnosis__summary__title js-related_diagnosis__summary__title border_gray"
                               name="relation_diagnosis_name"
                               value="{{related_diagnosis.related_diagnosis_name}}"
                               placeholder="관련 요인"
                               required
                        >
                        <i class="fas fa-times related_diagnosis__summary__delete_btn js-related_diagnosis_delete_btn"></i>
                    </div>
                    <textarea class="related_interventions_textarea js-related_interventions_textarea border_gray"
                              name="relation_diagnosis_intervention_content"
                              placeholder="세부 간호 중재"
                    >{{related_diagnosis.intervention_content}}</textarea>
                </div>
            {% endfor %}
        </div>
        <button class="add_diagnosis_btn js-add_diagnosis_btn">작성폼 추가</button>
    </div>


    <div class="submit_wrapper">
        <button class="submit_btn" type="submit" form="edit_form">수정하기</button>
    </div>

</form>
{% endblock content %}
