{% extends 'base/base.html' %}
{% load static %}

{% block title %} {{disease.name}} {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'nursing_knowledges/css/knowledge_detail.css' %}">
    <link rel="stylesheet" href="{% static 'nursing_knowledges/css/knowledge_detail_edit.css' %}">
    <link rel="stylesheet" href="{% static 'nursing_knowledges/css/disease_detail_edit.css' %}">
{% endblock css %}

{% block link %}
{% endblock link %}

{% block head_script %}
{% endblock head_script %}

{% block content %}
<form class="knowledge_detail_wrapper" id="edit_form" class="knowledge_detail_wrapper" method="post" action="{% url 'nursing_knowledges:disease_detail_edit' disease.pk %}">
    {% csrf_token %}
    <div class="knowledge_header">
        <div class="knowledge_header__category">질병</div>
        <h1 class="knowledge_header__name js-knowledge_name">{{disease.name}}</h1>
    </div>

    <div class="knowledge_info">
        {{form.definition}}
        {{form.definition.errors}}
    </div>

    
    <div class="knowledge_info">
        <div class="knowledge_info__title">원인</div>
        {{form.cause}}
        {{form.cause.errors}}
    </div>
    

    <div class="knowledge_info">
        <div class="knowledge_info__title">증상</div>
        {{form.symptom}}
        {{form.symptom.errors}}
    </div>

    <div class="knowledge_info">
        <div class="knowledge_info__title">진단/검사</div>
        {{form.diagnosis_and_checkup}}
        {{form.diagnosis_and_checkup.errors}}
    </div>

    <div class="knowledge_info">
        <div class="knowledge_info__title">치료</div>
        {{form.treatment}}
        {{form.treatment.errors}}
    </div>

    <div class="knowledge_info">
        <div class="knowledge_info__title">간호</div>
        {{form.nursing}}
        {{form.nursing.errors}}
    </div>


    <div class="knowledge_info relative_diagnosis">
        <div class="knowledge_info__title">관련 진단</div>
        <div class="diagnoses_list js-diagnoses_list">
            {% for item in related_diagnoses%}
                <div class="diagnosis_set">
                    <input type="checkbox" id="{{item.name}}" name="added_{{item.name}}" checked>
                    <label for="{{item.name}}">{{item.name}}</label>
                </div>
            {% endfor%}
        </div>
        <div class="add_diagnosis_wrapper">
            <input list="all_diagnosis" id="selected_diagnosis" name="selected_diagnosis" />
            <datalist id="all_diagnosis">
                {% for d in all_diagnosis %}
                    <option value="{{d}}">
                {% endfor %}
            </datalist>
            <button class="add_diagnosis_btn js-add_diagnosis_btn">진단 추가</button>
        </div>
    </div>

    <div class="submit_wrapper">
        <button class="submit_btn" type="submit" form="edit_form">수정하기</button>
    </div>

</form>
{% endblock content %}



{% block script %}
<script src="{% static 'assets/js/diseaseDetailEdit.js' %}"></script>
{% endblock script %}
