{% extends 'base/base.html' %}
{% load static %}

{% block title %} {{original_knowledge.name}} {% endblock title %}



{% block link %}
{% endblock link %}



{% block script %}
<script defer src="{% static 'build/js/diseasedetail.js' %}"></script>
{% endblock script %}



{% block content %}
    <div class="wrapper_base_style knowledge_detail_wrapper">
        <div class="knowledge_header">
            <div class="knowledge_header__category">질병</div>
            <h1 class="knowledge_header__name js-knowledge_name"
                data-knowledge_category="disease"
                data-id="{{ original_knowledge.pk }}"
            >{{original_knowledge.name}}</h1>
            {% if user.is_authenticated %}
                {% if is_star %}
                    <i class="fa-star knowledge_header__star_btn js-knowledge_star_btn fas color_yellow js-clicked_star"></i>
                {% else %}
                    <i class="far fa-star knowledge_header__star_btn js-knowledge_star_btn"></i>
                {% endif %}
            {% endif %}
            {% if is_before_version %}
                <span class="knowledge_header__before_knowledge_version">({{ disease.version }}번째 버전)</span>
            {% endif %}
            <div class="knowledge_header__btn_wrapper">
                <a href="{% url 'nursing_knowledges:disease_edit_history' original_knowledge.pk %}"
                   class="edit_btn_style knowledge_header__edit_history_btn"
                >편집 기록</a>
                {% if not is_before_version %}
                    <a href="{% url 'nursing_knowledges:disease_detail_edit' original_knowledge.pk %}"
                       class="edit_btn_style knowledge_header__edit_btn{% if user.is_anonymous %} js-block_to_edit{% endif %}"
                    >편집</a>
                {% endif %}
            </div>
            {% if is_before_version %}
                <div class="go_to_before_version_wrapper">
                    <a href="{{ original_knowledge.get_absolute_url }}">🚀 원본으로 이동하기</a>
                </div>
            {% endif %}
        </div>


        <div class="knowledge_info">
            {% if disease.definition %}
                <div class="knowledge_info__content">
                    {{disease.definition|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">정의</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">원인</div>
            {% if disease.cause %}
                <div class="knowledge_info__content">
                    {{disease.cause|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">원인</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">증상</div>
            {% if disease.symptom %}
                <div class="knowledge_info__content">
                    {{disease.symptom|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">증상</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">진단/검사</div>
            {% if disease.diagnosis_and_checkup %}
                <div class="knowledge_info__content">
                    {{disease.diagnosis_and_checkup|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">진단/검사</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">치료</div>
            {% if disease.treatment %}
                <div class="knowledge_info__content">
                    {{disease.treatment|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">치료</div>
            {% endif %}
        </div>

        <div class="knowledge_info">
            <div class="knowledge_info__title">간호</div>
            {% if disease.nursing %}
                <div class="knowledge_info__content">
                    {{disease.nursing|linebreaks}}
                </div>
            {% else %}
                <div class="knowledge_info__content knowledge_info__no_content block_dragging">간호</div>
            {% endif %}
        </div>


            <div class="knowledge_info">
                <div class="knowledge_info__title">관련 진단</div>
                {% if diagnoses %}
                    <div class="knowledge_info__content relative_diagnoses">
                        {% for diagnosis in diagnoses%}
                            <a class="relative_diagnoses__item js-relative_diagnosis_item"
                               href="{% url 'nursing_knowledges:diagnosis_detail' diagnosis.pk %}">
                                {{diagnosis.name}}
                            </a>
                        {% endfor%}
                    </div>
                {% else %}
                    <div class="knowledge_info__content knowledge_info__no_content after_content_none block_dragging">
                        아직 관련 진단이 없습니다. 관련 진단을 추가해 주세요!
                    </div>
                {% endif %}
            </div>
        {% if not is_before_version %}
            {% include 'nursing_knowledges/components/mindmap.html' %}
        {% endif %}
    </div>
{% endblock content %}
