{% extends 'base/base.html' %}
{% load static %}


{% block title %} 마인드맵 {% endblock title %}


{% block css %}
    <link rel="stylesheet" href="{% static 'nursing_knowledges/css/pages/mindmap-page.css' %}">
{% endblock css %}



{% block link %}
{% endblock link %}



{% block head_script %}
{% endblock head_script %}



{% block content %}
    {% include 'nursing_knowledges/components/mindmap.html' %}
{% endblock content %}



{% block script %}
<script src="{% static 'assets/js/mindmapPage.js' %}"></script>
{% endblock script %}
