{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'global/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/color.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/user_modal.css' %}">
</head>
<body class="modal_background">
    <div class="modal_wrapper">
        <!-- 모달 HEADER -->
        <div class="modal__header">
            <a href="{% url 'home' %}">
                <i class="fas fa-arrow-left modal_header__back_arrow"></i>
            </a>
            <span class="modal_header__title">회원정보 추가</span>
            <div class=""></div>
        </div>

        <!-- 모달 CONTENT -->
        <div class="modal__content">
            <form action="{% url 'users:kakao_signin_action' %}" method="post" class="modal__content__form js-user_form">
                {% csrf_token %}
                <div class="input_wrapper">
                    <input type="text" name="username" placeholder="아이디" required maxlength="150" id="id_username">
                </div>
                {% if not email %}
                <div class="input_wrapper">
                    <input type="email" name="email" placeholder="이메일(선택)" maxlength="254" id="id_email">
                </div>
                {% endif %}
                <button type="submit" class="modal__content__form__submit_btn js-submit_btn">
                    <span>회원가입</span>
                </button>
            </form>
        </div>
    </div>
    
    {% if email %}
        <script>
            const emailVariable = "{{email}}"
            const kakaoIdVariable = "{{kakao_id}}"
        </script>
    {% else %}
        <script>
            const emailVariable = null;
            const kakaoIdVariable = "{{kakao_id}}"

        </script>
    {% endif %}
    <script src="{% static 'assets/js/kakaoSigninFormValidation.js' %}"></script>
</body>
</html>