{% extends 'base.html' %}
{% load static %}


{% block title %} 마이페이지 {% endblock title %}


{% block css %}
{% endblock css %}



{% block link %}
{% endblock link %}



{% block head_script %}
{% endblock head_script %}



{% block content %}
    <div class="mypage_wrap">
        <div class="mypage_nav">
            <div class="nav_item active">내 정보 수정</div>
            <div class="nav_item">내가 찜한 페이지</div>
            <div class="nav_item">내가 열어본 페이지</div>
            <div class="nav_item">개발자에게 <br>쪽지 보내기</div>
        </div>
        <div class="mypage_content">
            <h1>내 정보 수정</h1>
            <div class="content">내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</div>
        </div>
    </div>
{% endblock content %}

{% block script %}
<script src="{% static 'assets/js/mypage.js' %}"></script>
{% endblock script %}
