{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'global/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/color.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/user_modal.css' %}">
</head>
<body class="modal_background">
    <div class="modal_wrapper">
        <!-- 모달 HEADER -->
        <div class="modal__header">
            <div class=""></div>
            <span class="modal_header__title">회원가입</span>
            <i class="fas fa-times modal_header__close_btn js-modal_close_btn"></i>
        </div>

        <!-- 모달 CONTENT -->
        <div class="modal__content">
            <form action="{% url 'users:signin_action' %}" method="post" class="modal__content__form js-user_form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input_wrapper">
                        {{field}}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="input_error">{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="form__submit_btn js-submit_btn">
                    <span>회원가입</span>
                </button>
            </form>
            <div class="modal__content__or_line">
                <hr>
                <span>또는</span>
            </div>
            <a href="{% url 'users:kakao_signin' %}" class="modal__content__kakao_login_btn">
                <i class="fas fa-comment"></i>
                <span>카카오계정 로그인</span>
            </a>
            <div class="modal__content__toggle">
                <span>이미 계정을 보유하고 계신가요?</span>
                <span class="modal__content__toggle__btn js-toggle_btn">로그인</a>
            </div>
        </div>
    </div>
</body>
</html>